body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

header {
  background-color: #f8f8f8;
  padding: 2em 0;
}

h1 {
  color: #143774;
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 2rem;
  margin: 0;
}

.subtitle {
  color: #1792d2;
  margin: 0;
  font-weight: 700;
  font-size: 0.75rem;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 900px;
}

.container-nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin-left: 2em;
}

nav a {
  text-decoration: none;
  color: #717171;
  padding: 0.25em 0;
  font-weight: 900;
}

nav a:hover,
nav a:focus {
  color: #1792d2;
}

.current-page {
  border-bottom: 1px solid #717171;
}

.current-page:hover {
  color: #717171;
}

.main-container {
  border: 1px solid black;
  margin: 2em auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-container .main-col {
  border: 1px solid pink;
  display: flex;
  flex-direction: column;
  width: 75%;
}
.main-container .side-col {
  border: 1px solid purple;
  display: flex;
  flex-direction: column;
  width: 25%;
}
.main-container .main-col div {
  border: 1px solid blue;
}
.main-container .side-col div {
  border: 1px solid red;
}

footer {
  background-color: #143774;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer-container {
  text-align: center;
  color: rgba(255, 255, 255, 0.541);
  font-family: "Ubuntu", sans-serif;
  font-size: 1.125rem;
  margin: 2.5em auto;
  width: 90%;
  max-width: 900px;
}

footer p {
  margin: 0;
  padding: 0.2rem 0;
  font-weight: 900;
}

.light-weight {
  font-weight: 100;
}

@media (max-width: 675px) {
  .container-nav {
    flex-direction: column;
  }
  header {
    text-align: center;
  }
  nav ul {
    flex-direction: column;
  }
  nav li {
    margin: 0.5em 0;
  }
}
