body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  overflow-y: scroll;
}

img {
  display: block;
  width: 100%;
}

/* TYPOGRAPHY */

h1 {
  color: #143774;
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 2rem;
  margin: 0;
}

.article-title {
  margin-top: 0;
  color: #143774;
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
}

.widget-title {
  color: #143774;
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 0.225rem;
}

.widget-recent-post-title {
  color: #143774;
  font-size: 1.125rem;
  font-weight: normal;
}

a.article-read-more {
  color: #1792d2;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.175rem;
  text-transform: uppercase;
}

a.article-read-more:hover,
a.article-read-more:focus {
  color: #143774;
  text-decoration: underline;
}

a.article-previous-link {
  color: #1792d2;
  text-decoration: underline;
}

a.article-previous-link:hover,
a.article-previous-link:focus {
  color: #143774;
}

.article-body {
  color: #707070;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.5em;
}

.widget-body {
  color: #143774;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5em;
}

.article-data {
  color: #707070;
  font-size: 0.875rem;
  font-weight: 400;
}

.subtitle {
  color: #1792d2;
  margin: 0;
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: 0, 175rem;
  text-transform: uppercase;
}

.light-weight-font {
  font-weight: 100;
}

.heavy-weight-font {
  font-weight: 700;
}

/* /. TYPOGRAPHY */

/* STRUCTURE */

header {
  background-color: #f8f8f8;
  padding: 2em 0;
  width: 100%;
  z-index: 1;
  text-align: center;
}

footer {
  background-color: #143774;
  margin: 0 auto;
  padding: 2em 0;
  width: 100%;
  z-index: 1;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 900px;
}

.border-bottom {
  border-bottom: 3px solid #ebebeb;
}

/* /. STRUCTURE */

/* NAVIGATION */

.container-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav li {
  margin: 0.5em 0;
}

nav a {
  text-decoration: none;
  color: #717171;
  padding: 0.25em 0;
  font-weight: 900;
}

nav a:hover,
nav a:focus {
  color: #1792d2;
}

.current-page {
  border-bottom: 1px solid #717171;
}

.current-page:hover {
  color: #717171;
}

/* /. NAVIGATION */

/* FOOTER-NOTES */

.container-footer {
  text-align: center;
  margin: 1.7em auto;
  width: 90%;
  max-width: 900px;
}

footer p {
  margin: 0;
  padding: 0.2rem 0;
  font-weight: 700;
  font-size: 1.125rem;
  font-family: "Ubuntu", sans-serif;
  color: rgba(255, 255, 255, 0.541);
}

/* /. FOOTER-NOTES */

/* MAIN SECTION */

.container-main {
  margin: 10em auto 12em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.article-featured {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.2em;
}

.article-img {
  order: 1;
  display: block;
  width: 100%;
  min-height: 200px;
  object-fit: cover;
}

.article-data {
  order: 2;
}

.article-title {
  order: 3;
}

.article-body {
  order: 4;
}

.article-read-more {
  order: 5;
}

.article-recent {
  display: flex;
  flex-direction: row;
  margin: 1.2em 0;
}

.article-recent-main {
  order: 2;
  width: 75%;
}

.article-recent-secondary {
  order: 1;
  width: 25%;
  margin-right: 1em;
}

aside.sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar-widget {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  border: 1.25em solid #ebebeb;
  padding: 1.1em;
}

.widget-recent-post {
  margin-bottom: 1em;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
}
.widget-recent-post-title {
  order: 2;
}

/* /. MAIN SECTION */

/* MEDIA QUERIES */

@media (min-width: 675px) {
  header {
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
  }

  nav ul {
    flex-direction: row;
  }

  nav li {
    margin-left: 2em;
  }

  main {
    width: 70%;
  }

  aside.sidebar {
    width: 25%;
  }

  .container-main {
    flex-direction: row;
    margin-top: 11em;
  }

  .container-nav {
    flex-direction: row;
  }
}

/* /. MEDIA QUERIES */
